@model LigaSimplesViewModel

@{
    ViewData["Title"] = "Cartola";
}

<body style="background-color: #60ab85;">
    <div class="conteudo">
        <div style="width: 100%; padding: 20px; box-shadow: 5px 5px #00000040; margin-bottom: 10px; border-radius: 15px; background-color: #0a5b32;">
            <div style="width: 100%; text-align: center;">
                <img src="@Model.url_flamula_svg" style="max-height: 64.05px;" />
                <p>
                    @Html.Label("Time", Model.nome)
                </p>
                <p>
                    @Html.Label("Time", Model.descricao)
                </p>
            </div>
        </div>

        <div class="Direita DireitaTexto" style="width:100%">
            <form method="get" asp-action="Index" asp-controller="LigaSimples">
                <input asp-for="slug" type="text" class="form-control input-md"/>
                <button type="submit" >Pesquisar</button>
            </form>
        </div>
        <div style=" width: 100%; display: grid; grid-template-columns: 10% 70% 20%;box-shadow: 5px 5px #00000040; margin-bottom: 10px; border-radius: 15px; background-color: #0a5b32 !important;">
            <div style=" padding: 20px 20px; background-color: #003500; background-clip: border-box; display: flex; align-items: center; margin-right: 15px; border-bottom-left-radius: 15px; border-top-left-radius: 15px;">
                <span>Posição</span>
            </div>
            <div style=" display: flex; -webkit-box-align: center; align-items: center; max-width: 90%; margin: 0px;">
                <div>Time</div>
            </div>
            <div style=" display: flex; -webkit-box-align: center; align-items: center; max-width: 90%; margin: 0px;">
                <div>Pontos</div>
            </div>
        </div>
        @foreach (var item in Model.Clubes.OrderBy(a => a.index))
        {
            <a style="cursor: pointer; text-decoration: none; color: inherit;" asp-controller="LigaSimples" asp-action="ClubeDetalhe" asp-route-time_id="@item.time_id">
                <div style=" width: 100%; display: grid; grid-template-columns: 10% 60% 30%;box-shadow: 5px 5px #00000040; margin-bottom: 10px; border-radius: 15px; background-color: #0a5b32;">
                    <div style="padding: 20px 20px; background-color: #003500; background-clip: border-box; display: flex; align-items: center; margin-right: 15px; border-bottom-left-radius: 15px; border-top-left-radius: 15px;">
                        <span>@item.index º</span>
                    </div>
                    <div style="display: flex; -webkit-box-align: center; align-items: center; max-width: 90%; margin: 0px;">
                        <img src="@item.Url" style="max-height: 50px; margin-right: 20px;" />
                        <div style="float:left;">
                            <div style="font-weight: bold;">@item.NomeTime</div>
                            <span style="font-size: 15px;">@item.NomeCartoleiro</span>
                        </div>
                    </div>
                    <div style="display: flex; -webkit-box-align: center; align-items: center; max-width: 90%; margin: 0px;">
                        <div>Campeonato: @item.Pontos.campeonato</div>
                        <div>Rodada: @item.Pontos.rodada.Value</div>
                        <div>Patrimonio: ₵ @item.Patrimonio </div>
                    </div>
                </div>
            </a>
        }
    </div>
</body>